extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Ole Tjernstad

        p Full Stack JavaScript Developer, and owner of Tjernstad Utvikling


        .about-bio

          p Hi! Ole Tjernstad here a Full Stack JavaScript developer from Sander, Norway. I am the owner of Tjernstad Utvikling where I develop webpages for local associations.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li PHP
          li React Native
          li Vue

        h6 Contact Info

        ul
          li +47 483 13 283
          li ole@tjernstad-utvikling.com

        a.btn-link(href='https://www.linkedin.com/in/ole-t-tjernstad-13324587/') LinkedIn
        a.btn-link(href='https://github.com/OleTjernstad') GitHub
        a.btn-link(href='https://twitter.com/') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back